@import './../index.css';

/* HEADER */
.level-header {
	text-align: center;
	height: min-content;
	margin: auto;
	padding: 1.5em;
	padding-bottom: 20%;
}
.level-header-top {
	width: 65%;
	margin: auto;
}
.level-header-correction-banner {
	position: absolute;
	bottom: 0;
	left: 0;
}
.level-header-exchange-banner {
	
}
/* LEVEL */
.activity-level-prec {
	position: absolute;
	/* position: relative; */
	/* top: calc( 1.1 * var(--navbar-height)); */
	top: calc( 0.5 * var(--navbar-height));
	left: -10px;
	background-color: white;
	border-radius: 25px;
	z-index: 100;
	width: 50px;
}
.activity-level-header {
	width: 20vw;
	height: 100%;
	display: flex;
	justify-content: space-around;
	background-color: var(--iota-realylittle-orange-color);
	border-radius: 25px 0 0 0;
	min-width: 230px;
	position: relative;
}
.activity-level-activity {
	width: 100%;
	padding: 10px 0 10px 0;
	/* border-radius: 25px 25px 0px 0 !important; */
}
.activity-level-activity-content {
	width: 95%;
	margin: auto;
	overflow-y: scroll;
	height: 100%;
	scrollbar-width: none;
}
